/* Existing styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-category-container {
    display: grid;
    grid-template-areas:
        "title"
        "buttons";
    gap: 20px;
}

#quiz-category-container > h1 {
    grid-area: title;
}
.category-button-container {
    grid-area: buttons;
    display: flex;
    flex-direction: row; /* Align buttons in a row */
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

.category-button {
    margin: 5px;
    padding: 10px;
    background-color: #4285f4;
    color: #ffffff;
    border: 1.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.home-button {
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quiz-question-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "prev content next";
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.prev-button {
    grid-area: prev;
}

.next-button, .finish-button {
    grid-area: next;
}

.quiz-content {
    grid-area: content;
}

.answer-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    background-color: #4285f4;
    color: #ffffff;
    border: 1.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    
}

h1 {
    display: block;
}